car
caret
corrplot
dplyr
ecmwfr
gdalUtilities
ggExtra
ggplot2
gridExtra
lattice
leaflet
lmtest
lubridate
Matrix
Metrics
ncdf4
openair
paletteer
printr
randomForest
raster
RColorBrewer
reshape2
rgdal
rgeos
R.utils
sf
sp
spatstat
stars
terra
tidyr
tidyverse
tm
xgboost



